[Desktop Entry]
Name=Nomad Firewall
Comment=Adjust your firewall settings
Encoding=UTF-8

Icon=security-high
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-ServiceTypes=Plasma/Generic

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=org.nxos.firewall
X-KDE-PluginInfo-Category=network
X-KDE-PluginInfo-Author=Alexis López Zubieta
X-KDE-PluginInfo-Email=azubieta90gmail.com
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL
